<h1>Cocktails#new</h1>
<div class="card">
<%= simple_form_for @cocktail do |f| %>
  <div class="form-group">
    <%= f.label :name, "Enter a name" %>
    <%= f.text_field :name %>
  </div>
  <%= f.button :submit, class: "btn btn-danger" %>
<% end %>
</div>
<p><%= link_to 'Back to cocktail list', cocktails_path %></p>
