<h1>New dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>

  <%= f.association :cocktail %>
  <%= f.association :ingredient %>

  <%= f.submit %>
<% end %>
<p><%= link_to 'Back to cocktail', cocktail_path(@cocktail) %></p>
